ion-item-sliding {
    ion-item {
            ion-avatar {
                img {
                    width: 40px;
                    height: 40px;
                }
                
            }
            ion-label {
                margin-left: 10px;
            }
    }
    margin-top: 10px;
    ion-item-option {
        color: #FFFFFF;
    }
    border-radius: 20px;
}