<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" defaultHref="component-menuinferior/monitoramento"></ion-back-button>
        <ion-text></ion-text>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item-sliding *ngFor="let item of pessoaList">
      <ion-item-options side="start">
        <ion-item-option expandable color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item href="" routerLink="pessoa-editar" lines="none">
          <ion-avatar>
            <img src="../../../assets/nubank.jpeg" />
          </ion-avatar>
        <ion-label>
          <h2>{{item}}</h2>
          <p>Administrador Financeiro</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</ion-content>
