ion-toolbar {

    color: #919395;

    ion-buttons:nth-child(1) {
        margin-right: 24%;
        ion-icon {
            font-size: 24px;
        }
    }

    ion-buttons:nth-child(3) {
        ion-icon {
            font-size: 24px;
        }
    }

    ion-text {
        text-transform: initial;
        font-weight: 800;
    }

}

ion-card {
    ion-grid:nth-child(1) {
        display: grid;
        justify-items: center;
        margin-top: 18px;
        margin-bottom: 20px;
        ion-row:nth-child(1) {
            font-weight: bold;
            margin-bottom: 16px;
        }
        ion-row:nth-child(2) {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 16px;
            color: #000000;
        }
        ion-row:nth-child(3) {
            ion-button {
                font-size: 30px;
                color: grey;
            }
        }
    }
    ion-grid:nth-child(2) {

        ion-col:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-col:nth-child(1) {
                max-width: 60px;
                margin-left: -10px;
                ion-avatar {
                    height: 50px; 
                    width: 50px; 
                    border-radius: 50px;
                    color: white; 
                    background-color: green; 
                    ion-icon {
                        font-size: 38px;
                        margin-top: 5px;
                        margin-left: 4px;
                    }
                }
            }
            ion-col:nth-child(2) {
                display: flex;
                flex-direction: column;
                margin-top: -18px;
                ion-text {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 4px;
                    margin-left: -44px;
                }
                ion-label {
                    font-size: 17px;
                    font-weight: bold;
                    color: green;
                }
            }
        }
        ion-col:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-col:nth-child(1) {
                max-width: 60px;
                margin-left: -10px;
                ion-avatar {
                    height: 50px; 
                    width: 50px; 
                    border-radius: 50px;
                    color: white; 
                    background-color: red; 
                    ion-icon {
                        font-size: 38px;
                        margin-top: 5px;
                        margin-left: 4px;
                    }
                }
            }
            ion-col:nth-child(2) {
                display: flex;
                flex-direction: column;
                margin-top: -18px;
                ion-text {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 4px;
                    margin-left: -38px;
                }
                ion-label {
                    font-size: 17px;
                    font-weight: bold;
                    color: red;
                }
            }
        }
    }
    width: 100%;
    margin: 0px;
    height: 260px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.3);
}

.divisor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    ion-text {
        font-size: 20px;
        font-weight: 600;
        color: #919395;
    }
    ion-button {
        text-transform: initial;
        ion-label {
            margin-top: 2px;
        }
    }
}

ion-item {
    ion-col:nth-child(1) {
        font-size: 30px;
    }
    ion-col:nth-child(2) {
        h4 {
            font-size: 14px;
            font-weight: bold;
        }
    }
    ion-col:nth-child(3) {
        h6 {
            color: grey;
            font-weight: bold;
            font-size: 16px;
            b {
                font-size: 12px;
            }
        }
    }
    padding: 6px 4px;
    --border-radius: 14px
}

ion-slides {
    width: 94%;
    ion-slide {
        background: #FFFFFF;
        border-radius: 30px;
        height: 260px;
        .cartao-credito-conteiner {
            margin-top: 10px;
            h6 {
                color: orange;
            }
            .cartao-credito-header {
                ion-button {
                    text-transform: initial;
                    color: #FFFFFF;
                    border-radius: 20px;
                }
                ion-button:nth-child(1) {
                    background: green;
                }
                ion-button:nth-child(2) {
                    background: grey;
                }
                display: flex;
                margin-left: 10px;
                top: 10px;
            }
            .cartao-credito-content {
                display: flex;
                justify-content: space-between;
                align-items: center; 
                ion-avatar {
                    margin-left: 10px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                ion-icon {
                    font-size: 30px;
                }
            }
            .cartao-credito-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 6px;
                ion-text {
                    font-weight: bold;
                    font-size: 16px;
                    color: grey;
                }
                p {
                    color: #3980FF;
                    font-weight: 800;
                    font-size: 18px;
                }
            }
        }
    }
}

hr {
    height: 3px;
    width: 96%;
    background: rgb(206, 204, 204);
    border-radius: 40px;
}