<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-text>Setembro</ion-text>
      <ion-button>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-grid>

      <ion-row>Saldo Mensal</ion-row>

      <ion-row [class]="isApresentarValoresFinanceiros ? '' : ''">R$ 20.000,00</ion-row>

      <ion-row>
        <ion-button (click)="habilitarExibicaoValoresFinanceiros()" fill="clear">
          <ion-icon [name]="isApresentarValoresFinanceiros ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-row>

    </ion-grid>

    <ion-grid>

      <ion-row>

        <ion-col>
          <ion-col>
            <ion-avatar>
              <ion-icon name="trending-up-outline"></ion-icon>
            </ion-avatar>
          </ion-col>
          <ion-col>
              <ion-text>Receitas</ion-text>
              <ion-label>R$ 10.000,00</ion-label>
          </ion-col>
        </ion-col>

        <ion-col>
          <ion-col>
            <ion-avatar>
              <ion-icon name="trending-down-outline"></ion-icon>
            </ion-avatar>
          </ion-col>
          <ion-col>
              <ion-text>Despesas</ion-text>
              <ion-label>R$ 10.000,00</ion-label>
          </ion-col>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>

  <span class="divisor ion-padding">
      <ion-text>Últimas Transações</ion-text>
      <ion-button fill="clear">
        <ion-label>Gerenciar</ion-label>
      </ion-button>
  </span>

  <ion-item lines="none">
    <ion-grid>
      <ion-row>

        <ion-col size="2">
          <ion-icon name="logo-amazon"></ion-icon>
        </ion-col>

        <ion-col size="6">
          <ion-label>
            <h4>Amazon Online</h4>
            <h6>Eletrônicos</h6>
          </ion-label>
        </ion-col>

        <ion-col size="4">
          <h6><b>R$</b> 10.000,00</h6>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none">
    <ion-grid>
      <ion-row>

        <ion-col size="2">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-col>

        <ion-col size="6">
          <ion-label>
            <h4>Apple Online</h4>
            <h6>Eletrônicos</h6>
          </ion-label>
        </ion-col>

        <ion-col size="4">
          <h6><b>R$</b> 10.000,00</h6>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none">
    <ion-grid>
      <ion-row>

        <ion-col size="2">
          <ion-icon name="logo-deviantart"></ion-icon>
        </ion-col>

        <ion-col size="6">
          <ion-label>
            <h4>Supermercado PraVocê</h4>
            <h6>Alimentos</h6>
          </ion-label>
        </ion-col>

        <ion-col size="4">
          <h6><b>R$</b> 10.000,00</h6>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>

  <span class="divisor ion-padding">
    <ion-text>Cartões de Bancários</ion-text>
    <ion-button fill="clear">
      <ion-label>Gerenciar</ion-label>
    </ion-button>
  </span>

  <ion-slides>

    <ion-slide>
      <div class="cartao-credito-conteiner">
        <div class="cartao-credito-header">
          <ion-button fill="clear">Faturas Abertas</ion-button>
          <ion-button fill="clear">Faturas Fechadas</ion-button>
        </div>
        <div class="cartao-credito-content">
          <ion-avatar>
            <img src="../../../assets/nubank.jpeg" />
          </ion-avatar>
          <ion-text>
            <h3>Banco Nubank</h3>
            <h6>28/01/2022</h6>
          </ion-text>
          <ion-button fill="clear">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
        <hr />
        <div class="cartao-credito-footer">
          <ion-text>Total da Fatura</ion-text>
          <p>R$ 1.000,00</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="cartao-credito-conteiner">
        <div class="cartao-credito-header">
          <ion-button fill="clear">Faturas Abertas</ion-button>
          <ion-button fill="clear">Faturas Fechadas</ion-button>
        </div>
        <div class="cartao-credito-content">
          <ion-avatar>
            <img src="../../../assets/brasil.png" />
          </ion-avatar>
          <ion-text>
            <h3>Banco Banco do Brasil</h3>
            <h6>10/01/2022</h6>
          </ion-text>
          <ion-button fill="clear">
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </ion-button>
        </div>
        <hr />
        <div class="cartao-credito-footer">
          <ion-text>Total da Fatura</ion-text>
          <p>R$ 1.000,00</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="cartao-credito-conteiner">
        <div class="cartao-credito-header">
          <ion-button fill="clear">Faturas Abertas</ion-button>
          <ion-button fill="clear">Faturas Fechadas</ion-button>
        </div>
        <div class="cartao-credito-content">
          <ion-avatar>
            <img src="../../../assets/caixa.png" />
          </ion-avatar>
          <ion-text>
            <h3>Banco Caixa Ecômica Federal</h3>
            <h6>10/01/2022</h6>
          </ion-text>
          <ion-button fill="clear">
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </ion-button>
        </div>
        <hr />
        <div class="cartao-credito-footer">
          <ion-text>Total da Fatura</ion-text>
          <p>R$ 1.000,00</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="cartao-credito-conteiner">
        <div class="cartao-credito-header">
          <ion-button fill="clear">Faturas Abertas</ion-button>
          <ion-button fill="clear">Faturas Fechadas</ion-button>
        </div>
        <div class="cartao-credito-content">
          <ion-avatar>
            <img src="../../../assets/inter.png" />
          </ion-avatar>
          <ion-text>
            <h3>Banco Banco do Brasil</h3>
            <h6>10/01/2022</h6>
          </ion-text>
          <ion-button fill="clear">
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </ion-button>
        </div>
        <hr />
        <div class="cartao-credito-footer">
          <ion-text>Total da Fatura</ion-text>
          <p>R$ 1.000,00</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="cartao-credito-conteiner">
        <div class="cartao-credito-header">
          <ion-button fill="clear">Faturas Abertas</ion-button>
          <ion-button fill="clear">Faturas Fechadas</ion-button>
        </div>
        <div class="cartao-credito-content">
          <ion-avatar>
            <img src="../../../assets/picpay.png" />
          </ion-avatar>
          <ion-text>
            <h3>Banco Banco do Brasil</h3>
            <h6>10/01/2022</h6>
          </ion-text>
          <ion-button fill="clear">
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </ion-button>
        </div>
        <hr />
        <div class="cartao-credito-footer">
          <ion-text>Total da Fatura</ion-text>
          <p>R$ 1.000,00</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="cartao-credito-conteiner">
        <div class="cartao-credito-header">
          <ion-button fill="clear">Faturas Abertas</ion-button>
          <ion-button fill="clear">Faturas Fechadas</ion-button>
        </div>
        <div class="cartao-credito-content">
          <ion-avatar>
            <img src="../../../assets/c6.png" />
          </ion-avatar>
          <ion-text>
            <h3>Banco C6</h3>
            <h6>10/01/2022</h6>
          </ion-text>
          <ion-button fill="clear">
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </ion-button>
        </div>
        <hr />
        <div class="cartao-credito-footer">
          <ion-text>Total da Fatura</ion-text>
          <p>R$ 1.000,00</p>
        </div>
      </div>
    </ion-slide>

  </ion-slides>

  <span class="divisor ion-padding">
    <ion-text>Despesas Fixas</ion-text>
    <ion-button fill="clear">
      <ion-label>Gerenciar</ion-label>
    </ion-button>
  </span>

  <span class="divisor ion-padding">
    <ion-text>Investimentos Financeiros</ion-text>
    <ion-button fill="clear">
      <ion-label>Gerenciar</ion-label>
    </ion-button>
  </span>

  <span class="divisor ion-padding">
    <ion-text>Relatório de Despesas</ion-text>
    <ion-button fill="clear">
      <ion-label>Gerenciar</ion-label>
    </ion-button>
  </span>

  <span class="divisor ion-padding">
    <ion-text>Relatório de Gastos Diários</ion-text>
    <ion-button fill="clear">
      <ion-label>Gerenciar</ion-label>
    </ion-button>
  </span>

</ion-content>
