<ion-header class="ion-no-border ion-paddin">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar>
      <img src="../../../assets/user.jpeg" />
    </ion-avatar>
    <ion-label>
      <p>Bem Vindo,</p>
      <h3>José Quintinn (ADFIN)</h3>
    </ion-label>
  </ion-item>

</ion-header>

<ion-content>



</ion-content>
