ion-header {

    ion-toolbar, ion-item {
        --background: #F1F5F8;
    }

    ion-toolbar {
        ion-buttons:nth-child(2)  {
            ion-button {
                --border-radius: 10px;
                --box-shadow: 5px 5px 10px #D1D1D1, 05px -5px 10px #FFFFFF;
            }
        }
    }

    ion-item {
        p {
            font-weight: 500;
            font-size: 14px;
        }
        h3 {
            font-weight: 700;
            font-size: 16px;
        }
    }


}