<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" defaultHref="pessoa"></ion-back-button>
        <ion-text></ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Pessoa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
