<ion-tabs>
  <ion-tab-bar>

    <ion-tab-button tab="monitoramento">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Monitoramento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carteira">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Carteira</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movimentacao">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Movimentação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracao">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<ion-fab horizontal="center" vertical="bottom">
  <ion-fab-button (click)="redirecionarTelaTransacoes()">
    <ion-icon name="repeat-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>