<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
