ion-grid {
    ion-row {
        ion-col {
            ion-button {
                ion-label {
                    font-size: 14px;
                }
                min-width: 160px;
                min-height: 90px;
                color: white;
                text-transform: initial;
                --border-radius: 4px;
                --background: linear-gradient(90deg, rgb(73, 128, 209) 0%, rgba(83, 161, 233, 0.719)) 100%;
            }
        }
    }

}