<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="screen-monitoramento">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-button routerLink="screen-pessoa" fill="clear">
            <ion-label>Gerenciar Pessoas</ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button>
          <ion-label>Gerenciar Usuários</ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button>
          <ion-label></ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button>
          <ion-label></ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button>
          <ion-label></ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button>
          <ion-label></ion-label>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  
</ion-content>
